<html>
  <body>
    <form method="POST" action="/new">
      <h1>Write a message !</h1>
      <input
        type="text"
        name="messageText"
        placeholder="Your message goes here"
      />
      <input
        type="text"
        name="userText"
        placeholder="Your user name goes here"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
